
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
body{
    font-family: 'Hind Vadodara', sans-serif;
    background-color: rgb(27, 27, 27);
}
.TimeNotUTC{
    color: rgb(158, 252, 220);
    position: absolute;
    top: 50%;
    left: 51%;
    font-weight: bold;
    font-size: clamp(2rem,5.5vw,7.3rem);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.TimeNotUTC #pm_am{
    font-size: clamp(0.5rem,1.5vw,1.5rem);
    vertical-align: 110%;
}
.Date{
    color: rgb(158, 252, 220) ;
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%,-50%);
    font-size: clamp(2rem,5.5vw,7.3rem);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.ThisDay a{
    color: rgb(158, 252, 220) ;
    position: absolute;
    left: 50%;
    top: 60%;
    text-transform: uppercase;

    font-size: clamp(1rem,2vw,5rem);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.nav-bar{
    float: right;
}
#videobg{
    opacity: 25%;
    left: 0;
    top:0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}